It’s the time to disco

In [1]:
t = ("disco", 12, 4.5)

In [2]:
t[0][2]

's'

String Palindrome

In [9]:
s = "racecar"

In [10]:
rev = s[::-1]

In [11]:
if(rev==s):
    print(1)
else:
    print(0)

1

Reverse Words

In [13]:
sentence = "There is a book on the table"

In [15]:
splitted_sentence = sentence.split(' ')

In [16]:
print(splitted_sentence)

['There', 'is', 'a', 'book', 'on', 'the', 'table']

In [19]:
reversed_words = ' '.join(reversed(splitted_sentence))

In [20]:
print(reversed_words)

table the on book a is There

String Formatting

In [21]:
input_string = "caloRie ConsuMed"

In [27]:
input_string.replace(' ', '_').lower()

'calorie_consumed'

Multiple Choice Questions

How will you extract ‘love’ from the string S = “I love Python”? (More than one
option may be correct.).

In [29]:
s = "I love Python"

In [30]:
s[2:6]

'love'

What will the output of 3 * 3 ** 3 be?

In [31]:
3*3**3

81

What will the output be of ((500//7) % 5) ** 3?

In [32]:
((500//7) % 5) ** 3

1

If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?

In [33]:
T=(3, 5, 7, 11)

In [34]:
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

What will the output of the following code be?

In [36]:
l = [32, 34, 12, 27, 33]

In [37]:
l.append((14, 19))

In [38]:
print(len(l))

6

In [39]:
l

[32, 34, 12, 27, 33, (14, 19)]

7. Which of the following statements is incorrect regarding sets in Python?
a. Sets do not contain duplicate elements
b. Sets are represented using curly braces {}
c. Sets are immutable
d. All of the above

Ans: a, b

8. What will the output be of the following code?

In [41]:
D = {1:['Raj',22], 2:['Simran',21], 3:['Rahul', 40]}

In [42]:
for val in D:
    print(val)

1
2
3

9. What will the ‘comprehension equivalent’ be for the following snippet of code?

for sentence in paragraph:
     for word in sentence.split():
         single_word_list.append(word)
         
a. word for sentence in paragraph for word in sentence.split()
b. [word for sentence in paragraph for word in sentence.split()]
c. word for word in sentence.split() for sentence in paragraph
d. [word for word in sentence.split() for sentence in paragraph]

Ans: d. [word for word in sentence.split() for sentence in paragraph]

10.What will be the output of this code?

In [44]:
print(list(range(10,1,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]